.App {
  text-align: center;
}

.comment_edit{
  border-radius: 1px;
  border: none;
}

.quantity_edit{
  border-radius: 5px;
  border: 1px solid;
}

.main-bg{
  height: 390px;
  width: 100%;
  background-image: url('../public/img/fern-1250903_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.deleteButton{
  /* margin-left: 10px; */
  height: 30px;
  color: white;
  background-color: red;
  border-radius: 5px;
  border:none;
}

.editButton{
  /* margin-left: 10px; */
  height: 30px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border:none;
}

.table-spacing{
  margin-bottom: 10px;
}

.left-text{
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
